* {
  background-color: rgb(15,15,15);
  color: rgb(255,255,255);
  font-family: 'Verdana', 'Lucida Sans', 'Comic Sans';
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

header {
  background-color: red;

  padding: 40px;
  text-align: center;
}

nav {
  display: flex;
}

nav a {
  background-color: rgb(45,45,45);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

footer {
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

.projects {
  flex: 4;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

/* Added rotation, box-shadow, border-radius */
.card {
  border-style: solid;
  border-width: 5px;
  padding: 10px;
  flex: 0 0 300px;
  margin: 20px;
}

/* Added border-radius to match the card */
.card header {
  padding: 20px;
}

.card p {
  text-align: center;
}

.card img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
